@using System.Threading
@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Excess</title>

    <link rel="shortcut icon" href="~/favicon.ico">

    @Styles.Render("~/Bundles/App/vendor/css")
    @Styles.Render("~/Bundles/App/Main/css")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/others/html5shiv.js")"></script>
        <script src="@Url.Content("~/Scripts/others/respond.min.js")"></script>
    <![endif]-->
    @Scripts.Render("~/Bundles/App/vendor/js")

    <script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>

    @Scripts.Render("~/Bundles/App/Main/js")
</head>
<body>
    <div ng-app="app">
        <div ng-controller="app.views.layout as vm">
            <div class="header FixedTop">
                <div class="toolbar-left">
                    <a class="app-title" href="#/">EXCESS</a>
                </div>

                <div class="toolbar-left">
                    <a class="toolbar-icon fa fa-spinner fa-spin" ng-hide="loadingRequests <= 0"></a>
                    <a ng-repeat="menu in menus" class="toolbar-icon fa {{menu.icon}}" href="{{menu.url}}" ng-click="menu.action()">
                        <span class="toolbar-text">{{menu.caption}}</span>
                    </a>
                </div>

                <div class="toolbar-right">
                    <a class="toolbar-icon fa fa-user" ng-click="showLogin()" ng-if="!session"></a>

                    <a ng-if="session">{{session.UserName}}</a>
                    <a class="toolbar-icon fa fa-sign-out" ng-click="showLogout()" ng-if="session"></a>
                </div>
            </div>

            <div ui-view class="content-container">
            </div>
            
            <div class="footer">
                <div class="toolbar-right">
                    <a href="http://www.facebook.com/metaninja" class="toolbar-icon fa fa-facebook fa-fw"></a>
                    <a href="http://twitter.com/meta_ninja" class="toolbar-icon fa fa-twitter fa-fw"></a>
                    <a href="https://plus.google.com/u/0/b/115865877602133760249/115865877602133760249/posts" class="toolbar-icon fa fa-google-plus fa-fw"></a>
                    <a href="https://github.com/xs-admin/Excess" class="toolbar-icon fa fa-github fa-fw"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>