@using System.Threading
@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Excess</title>

    <link rel="shortcut icon" href="~/favicon.ico">

    @Styles.Render("~/Bundles/App/vendor/css")
    @Styles.Render("~/Bundles/App/Main/css")

    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/others/html5shiv.js")"></script>
        <script src="@Url.Content("~/Scripts/others/respond.min.js")"></script>
    <![endif]-->
    @Scripts.Render("~/Bundles/App/vendor/js")

    <script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/api/AbpServiceProxies/GetAll?type=angular"></script>
    <script src="~/AbpScripts/GetScripts" type="text/javascript"></script>

    @Scripts.Render("~/Bundles/App/Main/js")
</head>
<body>
    <div ng-app="app">
        <div ng-controller="app.views.layout as vm">
            <div class="header FixedTop">
                <div class="toolbar-left">
                    <a class="app-title" href="#/">EXCESS</a>
                </div>

                <div class="toolbar-left">
                    <a ng-repeat="menu in menus" class="toolbar-icon fa {{menu.icon}}" href="{{menu.url}}">
                        <span class="toolbar-text">{{menu.caption}}</span>
                    </a>
                </div>
            </div>

            <div ui-view class="content-container">
            </div>
            
            <div class="footer">
                <div class="toolbar-right">
                    <a class="toolbar-icon fa fa-facebook fa-fw"></a>
                    <a class="toolbar-icon fa fa-twitter fa-fw"></a>
                    <a class="toolbar-icon fa fa-google-plus fa-fw"></a>
                    <a class="toolbar-icon fa fa-github fa-fw"></a>
                </div>
            </div>

            <mmenu id="main-menu">
            </mmenu>
        </div>
    </div>
</body>
</html>